$spruce-primary: #63B500;
$grass: $spruce-primary;
$green: $spruce-primary;

// sometimes you need it
$black: #000000;

$near-black: #4B4B4B;
// shorter, readable
$lead: $near-black;

$grey: #C9C9C9;
// there WILL be typos
$ash: $grey;

$light-grey: #F2F2F2;
// shorter, readable
$smoke: $light-grey;

$color-background: #FBFBFB;
// shorter, readable
$paper: $color-background;

// sometimes you need it
$white: #ffffff;

$color-alert: #FFB902;
$orange: $color-alert;

$color-error: #E56344;
$red: $color-error;

$blue: #26A4E4;
$sea: $blue;

$magenta: #DC6293;
$pink: $magenta;
